{% extends "base.html" %}

{% block title %}Авторизация{% endblock %}

{% block content %}

<div class="card">
    <div class="card-body">
        {% if form.errors %}
        <p>Логин или пароль не подходят, попробуйте снова.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p>У вас нет доступа к этому контенту.</p>
            {% else %}
            <p>Пожалуйста, авторизируйтесь, чтобы получить доступ к этому контенту</p>
            {% endif %}
        {% endif %}
        <form method="post" action="{% url 'login' %}">{% csrf_token %}
            <div class="mb-3">
                <label class="form_label">
                    {{ form.username.label_tag }}
                </label>
                <div>
                    {{ form.username }}
                </div>
            </div>
        
            <div class="mb-3">
                <label class="form_label">
                    {{ form.password.label_tag }}
                </label>
                <div>
                    {{ form.password }}
                </div>
            </div>

            <input class="btn btn-primary" type="submit" value="login">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
</div>

{% endblock %}