{% extends "base.html" %}

{% block title %}Создание заявки{% endblock title %}

{% block content %}

<div class="card col-6">
    <div class="card-body">
        <form method="post"> {% csrf_token %}
            {% for f in form %}
            <div class="mb-3">
                <label class="form_label">{{ f.label }}</label>
                {{ f }}
            </div>
            {% if f.errors %}
                <div>{{ f.errors }}</div>
            {% endif %}
            {% endfor %}

            <button class="btn btn-primary" type="submit">Создать</button>
        </form>
    </div>
</div>
{% endblock content %}